.header {
  color: white;
}

header {
  background-color: #562b81;
  border: solid #562b81;
}

h1,
h2,
h3 {
  font-family: 'Proza Libre', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}
